/* Navbar & filters */
.ui.popup .form.filters_form {
  /* width: 400px; */
  /* border-top-width: 1px !important; */
}

.ui.icon.searchController.input > i.reset.icon {
  right: 3.1em;
}
.ui.icon.searchController.input > i.reset.icon:hover {
  top: 0.3em;
  right: 3.43em;
  border-radius: 500em !important;
  line-height: 1 !important;
  padding: 0.5em 0.5em !important;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  width: 2em !important;
  height: 2em !important;
}
.ui.icon.searchController.input > i.reset.icon:active {
  background-color: #e0e1e2;
}
.ui.icon.searchController.input > i.reset.icon.disabled {
  display: none;
}

.ui.icon.searchController.input .searchInput {
  width: 100%;
}

/*
.current_filters_dropdown{
  border-right: none !important;
}
*/

.ui.top.attached.menu > .item.filters_module{
  width: calc(100% - 97px);
}

.list_current_filters .ui.list > .item .header, .list_current_filters .ui.list > .item .description {
  display: inline-block !important;
}
.list_current_filters .ui.list > .item .description{
  padding-left: 1em;
}

/* Issues list */
.issues.ui.list > .item > .content {
  display: inline-block;
}

.issues.ui.list .tracker{
  padding-right: 10px;
}
.issues.ui.list .ui.circular.button{
  padding: 0;
  /*border-radius: 50%;*/
  width: 20px;
  height: 20px;
  /* color: #666; */
  text-align: center;
  overflow: hidden;
  /*line-height: 19px;*/
  font-size: 10px;
  font-weight: normal;
}
.issues.ui.list .priority-6 .ui.circular.button { border: none;background-color: #CC3A21;color: #ffffff;} /* Priorité HAUTE */
.issues.ui.list .priority-4 .ui.circular.button { border: none;background-color: #FFAA00;color: #ffffff;} /* NORMALE */
.issues.ui.list .priority-3 .ui.circular.button { border: 1px solid #CCC;background-color: #ffffff;color: #999;} /* BASSE */
.issues.ui.list .priority-10 .ui.circular.button { border: none;background-color: #ffffff;color: #999;} /* NON PRIORITAIRE */

.issues.ui.list .issue_id {
  width: 4em;
  overflow: hidden;
  padding-right: 10px;
}

.issues.ui.list .project {
  width: 12em;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#filters_form_popup, #custom_queries_popup{
  left: 55px !important;
  right: 114px !important;
  top: 42px !important;
  border-radius: 0 0 0.285714rem 0.285714rem;
  margin-top: 0;
}
#custom_queries_popup .vertical.menu{
  width: auto;
}
#filters_form_popup label{
  min-width: 120px;
}
#filters_form_popup #form_content_field .input{
  width: 350px;
}
#filters_form_popup .ui.selection.dropdown .menu{
  border-top-width: 1px !important;
}
#filters_form_popup .ui.left.pointing.dropdown > .menu{
  margin: 0em 0em 0em 0.2em;
}

.ui.search > .results {
  margin-top: 0 !important;
}

.ui.input.date_input .hidden{
  display: none;
}
